@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #0D1117;
    --color-accent: #00FFBF;
    --color-background: #1C2128;
    --color-secondary: #4CAF50;
    --color-text: #E6EDF3;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    color: var(--color-text);
    background: var(--color-background);
}

/* Custom styles */
/* Show Triangle Hover */
.parent-triangle-container {
    position: relative;
}

.parent-triangle-container::before {
    content: '\25B6';
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--color-accent);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.parent-triangle-container:hover::before {
    opacity: 1;
}