@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: theme('colors.primary.DEFAULT');
    --color-primary-secondary: theme('colors.primary.secondary');
    --color-accent: theme('colors.accent.DEFAULT');
    --color-background: theme('colors.background.DEFAULT');
    --color-background-alt: theme('colors.background.alt');
    --color-text: theme('colors.text.DEFAULT');
    --color-text-subdued: theme('colors.text.subdued');
    --color-text-muted: theme('colors.text.muted');
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

p{
  font-size: 1.1rem;
}

h1{
  font-size: 1.8rem;
}

h3{
  font-size: 1.2rem;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  color: var(--color-text);
  background: var(--color-background);
  font-size: 1rem;
  overflow-x: hidden;
}

section{
  padding: 3rem 1.75rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme('colors.background.DEFAULT');
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* Custom styles */
/* Show Triangle Hover */
.parent-triangle-container {
  position: relative;
}

.parent-triangle-container::before {
  content: '\25B6';
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--color-accent);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.parent-triangle-container:hover::before {
  opacity: 1;
}

.cardSection{
  @apply lg:bg-gradient-to-br from-background to-background-alt lg:rounded-2xl lg:h-full lg:shadow-lg lg:backdrop-blur-sm lg:border lg:border-black
}